@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");

:root {
  --calc-width: 500px;
  --gap: 10px;
  --display-color: #c11313;
  --display-background-color: #baf1ba;
  --display-font-size: 36px;
  --light-gray: #ddd;
  --gray: #ccc;
  --border-color: #888;
}

body {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#calcWrapper {
  display: grid;
  width: calc(var(--calc-width) + 5 * var(--gap));
  padding: var(--gap);
  background-color: var(--light-gray);
  box-sizing: border-box;
  grid-template-columns:
    calc(var(--calc-width) / 4)
    calc(var(--calc-width) / 4)
    calc(var(--calc-width) / 4)
    calc(var(--calc-width) / 4);
  column-gap: var(--gap);
  row-gap: var(--gap);
  border-radius: var(--gap);
}

#calcWrapper #display {
  width: 100%;
  height: 2em;
  border-style: inset;
  border-color: var(--border-color);
  font-size: var(--display-font-size);
  font-family: Codystar, Consolas, Courier, monospace;
  background-color: var(--display-background-color);
  color: var(--display-color);
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: span 4;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding: 0.3em;
  text-align: right;
  overflow: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: thin;
}

/* Chrome, Safari a Edge */
#calcWrapper #display::-webkit-scrollbar {
  height: 8px;
}
#calcWrapper #display::-webkit-scrollbar-track {
  background-color: var(--light-gray);
}
#calcWrapper #display::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}

#calcWrapper button {
  width: auto;
  height: calc(var(--calc-width) / 8);
  font-size: 28px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  border-radius: calc(var(--gap) / 2);
  border: 1px solid var(--border-color);
  cursor: pointer;
  background-color: var(--light-gray);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

#calcWrapper button:active:hover {
  background-color: var(--gray);
}

#calcWrapper button.equal {
  grid-row-start: 4;
  grid-row-end: span 3;
  grid-column-start: 4;
  height: auto;
}
