@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap&subset=latin-ext");

body {
  font-family: "Quicksand", sans-serif;
}

nav {
  width: 100px;
}

nav a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: chocolate;
}

.pointer {
  cursor: pointer;
}

#testImages {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#mainImageDiv {
  width: 200px;
  text-align: center;
  margin: 30px auto;
  padding: 30px;
  box-sizing: content-box;
  background-image: linear-gradient(
    to bottom,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 1) 50%,
    rgba(206, 199, 236, 1) 51%,
    rgba(193, 191, 234, 1) 100%
  );
}

#clickMe {
  padding: 10px;
  border: 1px solid gray;
  width: 7em;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  background: linear-gradient(
    to bottom,
    rgb(248, 80, 50) 0%,
    rgb(241, 111, 92) 50%,
    rgb(246, 41, 12) 51%,
    rgb(240, 47, 23) 71%,
    rgb(231, 56, 39) 100%
  );
  font-weight: bold;
}

#output {
  border: 1px solid gray;
  width: 150px;
  min-height: 2em;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #eee;
  padding: 5px;
  font-family: Consolas, "Courier New", monospace;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  max-height: 400px;
  overflow-y: auto;
  font-size: 75%;
}

#output > span {
  display: block;
  margin-bottom: 3px;
  line-height: 0.9;
}

.red {
  background-image: none !important;
  background-color: red !important;
}

.green {
  background-image: none !important;
  background-color: green !important;
}

.blue {
  background-image: none !important;
  background-color: blue !important;
}

.yellow {
  background-image: none !important;
  background-color: yellow !important;
}

.magenta {
  background-image: none !important;
  background-color: magenta !important;
}

.azure {
  background-image: none !important;
  background-color: azure !important;
}

#modal-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center;
}

#modal-container > div {
  background-color: white;
  padding: 20px;
}
