@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

table#myCalendar {
	border-collapse: collapse;
	border: 3px solid black;
}

table#myCalendar th,
td {
	font-family: 'Work Sans', sans-serif;
	background-color: #333;
	color: white;
	padding: 3px;
	text-align: center;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	font-size: 14px;
}

table#myCalendar th {
	background-color: rgb(22, 22, 22);
}

table#myCalendar thead {
	border-bottom: 2px solid black;
}

table#myCalendar tbody td {
	border: 1px solid rgb(63, 63, 63);
}

table#myCalendar tbody td.sunday {
	color: #ff6e6e;
	font-weight: bold;
}

table#myCalendar .control th {
	cursor: pointer;
}

table#myCalendar .control th.current {
	font-size: 12px;
}