@import url( 'https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap&subset=latin-ext');

body {
	font-family: 'Quicksand', sans-serif;
}

form {
	width: 280px;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 20px;
	position: relative;
}

label {
	display: block;
	margin: 5px 0;
}

label span {
	display: inline-block;
	width: 100px;
}

button[type=submit] {
	display: inline-block;
	margin-top: 40px;
	margin-left: 20px;
	margin-left: 120px;
	width: 130px;
}

input.error {
	border: 1px solid #c00;
	background-color: #fff6f6;
}

#output {
	width: 300px;
	margin: 20px;
	border: 1px solid gray;
	padding: 10px;
	white-space: pre-line;
	background-color: #efffef;
}

#output.error {
	background-color: #ffefef;
}

#output:empty {
	display: none;
}
